{% extends 'navbar.html' %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
{% load static %}
{% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
		       
<div class="page-header">
	<h1> SBI BANK|ABOUT US </h1>
</div>

<h1>History of SBI bank: All You Need To Know</h1>
<p style="text-align:justify ;">The State Bank of India (SBI Bank) is the biggest bank in India currently. It is a public sector bank, multinational in nature and is a financial services company. With a market share of 23% when it comes to assets, it also has a one-fourth share of the deposits and total loans market. Such is its popularity that MBA entrance exam candidates think of going for an SBI job! Read on to know everything there is to know about the biggest bank in India.</p>

<i><b>State Bank of India (SBI Bank) history</b></i><br><br>

<p style="text-align:justify ;">The State Bank of India (SBI Bank) was established in 1806, in Kolkata. Three years after that, it acquired its charter and was re-designed as Bank of Bengal in 1809. It was the very first joint-stock bank of India, which the Bengal Government sponsored. Apart from Bank of Bengal, the Bank of Madras and the Bank of Bombay was also part of this joint stock and remained at the centre of the modern banking.<br><br>

Initially, all three banks were Anglo-Indian creations and they came into play due to the following three reasons-</p>

<li>Lack of modernization of the Indian economy due to several arbitrary reasons</li>
<li>Local European commerce needs and requirements</li>
<li>Compulsions imperial finance</li><br>

<p style="text-align:justify ;">The transformation or evolution of the State Bank of India came about due to the ideas adopted from the same movements happening in England and Europe. Another reason that contributed to this evolution was the changes and modifications in the local trading environment, along with India’s economic relationships with that of Europe and the global economic structure.</p>

<i><b>The current position of the State Bank of India (SBI Bank)</b></i><br><br>

<p style="text-align:justify ;">The State Bank of India is a giant in its own right, and there are several reasons that contribute to that. It is the oldest bank in the country currently if you go by the size of its balance sheet.

Additionally, its market capitalization, hundreds of bank branches and the number of profits are helping it give stiff competition to other private sector banks in the country.<br>

Presently, the bank is getting into a couple of new business with strategic tie-ups, which have quite a large growth potential. Some of these tie-ups are General Insurance, Pension Funds, Private Equity, Custodial Services, Mobile Banking, Structured Products, Advisory Services, and Point of Sale Merchant Acquisition etc.<br>

Additionally, it is concentrating on wholesale banking capacities and the top end of the market, in order to offer India’s corporate sector with numerous services and products.<br>

Gaining entry in the field of derivative instruments and structured products along with the consolidation of the global treasury operations is also something they are focusing on now.<br>

As of now, the State Bank of India is the biggest arranger responsible for external commercial borrowings in the country and is the biggest provider of infrastructure debt. In addition, it is the sole Indian bank to be a part of the Fortune 500 list.<br>

Apart from banking, State Bank of India was also associated with non-profit ventures since 1973, such as Community Services Banking. In such cases, administrative offices and branches all over the country sponsor and take part in a huge number of social causes and welfare activities.<br>

Additionally, they had also launched three digital banking facilities, in order to make financial transaction an easier affair for their customers.<br>

Two of the digital banking facilities specialize in providing their services at the customers’ doorstep by utilizing the method of TAB banking (One for housing loan applicants and the other for customers looking to open a savings account).<br>

The third banking facility specializes in the KYC process (Know Your Customer).<br>
<i><b>The other services, which are offered by the State Bank of India, are the following-</b></i></p>
<ul>
<li>Personal Banking</li>
<li>Rural/ Agriculture</li>
<li>Small and Medium Enterprise (SME)</li>
<li>Domestic Treasury</li>
<li>NRI Services</li>
<li>International Banking</li>
<li>Corporate Banking</li>
<li>Government Business</li></ul>

</body>
</html>
{% endblock %}