{% extends 'navbar.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>balance|update</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">  
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  {% load static %}
  {% csrf_token %}
  <link rel="stylesheet" href="{% static 'style.css' %}">   

</head>

<body>
    <form method="POST">
         {% csrf_token %}

    <h1>balance|update</h1>
        Enter account id:<input type="text" name="account_id"><br><br>
        Enter the amount for withdraw :<input type="text" name="withdraw"><br><br>
        <button type="submit" class="btn btn-success btn-md" >Save</button>
    
    </form>
</div>


</body>
</html>

{% endblock %}





"""
#transaction process
class atmError(Exception):
    def __init__(self,msg):
        self.info=msg

bal=1500
print(bal)
deposit=int(input("Enter Amount for Deposit:"))==credit
Tbal=bal+deposit============balance=balance+credit
print("Current Balance is:",Tbal)
try:
    withdraw=int(input("Enter Amount for Withdraw:"))==debit
    if withdraw>Tbal or ((Tbal)-withdraw)<=1500:==if balance-debit
        raise atmError("InsufficientBalanceError")
    else:
        available_bal=Tbal-withdraw
        print("Current Balance is:",available_bal)
        print("Collect Your Amount")
        print("Transaction complete")
except atmError as e:
    print("Error Created:",e.info)
print("Done")

"""